SESSION_SECRET=replace-with-a-long-random-secret

PUBLIC_STORE_DOMAIN=your-store.myshopify.com
PUBLIC_STOREFRONT_API_TOKEN=your_storefront_api_token
PRIVATE_STOREFRONT_API_TOKEN=your_private_storefront_api_token

# Customer Account API (New customer accounts / OAuth)
PUBLIC_CUSTOMER_ACCOUNT_API_CLIENT_ID=your_client_id_here
PUBLIC_CUSTOMER_ACCOUNT_API_URL=https://shopify.com/66607317088/account
